extends layout

block content
  h1= title
  p Welcome to #{name} #{title} project;
  br
  br
  br
  h3 usage
  hr

  p GET  '/companies': Shows all companies in the database

  p GET '/companies/:id': Shows the company by id

  p PUT '/companies/:id': Edit companies by id

  p DELETE '/companies/:id': Delete company by id

  p POST '/companies': Creates a new company
